{% extends 'main/base.html'%}
{% block content %}
{% load static %}


<div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mx-auto">
    {% for tut,part_one in part_ones.items %}
    <div class="col">
        <a href="/{{part_one}}" class="card-link"  id="card-link" style="text-decoration: none;">
            <div class="card h-100">
                <img src="{% static 'main/img/' %}{{ part_one }}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{tut.series}}</h5>
                    <p class="card-text">{{tut.summary}}</p>
                    <!-- <button type="button" class="btn btn-outline-primary" onclick="location.href='/{{cat.slug}}'">Check Here</button> -->
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}